body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:675px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:675px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(107, 107, 107, 0.349019607843137);
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:16px;
  width:102px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:11px;
  width:30px;
  height:29px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000333;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:70px;
  width:80px;
  height:30px;
  color:#000333;
}
#u131_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  color:#000333;
}
#u131.mouseOver {
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:70px;
  width:80px;
  height:74px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000333;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:70px;
  width:80px;
  height:30px;
  color:#000333;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u136 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:110px;
  width:580px;
  height:320px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:195px;
  width:120px;
  height:40px;
}
#u137_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u137.mouseOver {
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:360px;
  width:250px;
  height:40px;
}
#u138_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u138.mouseOver {
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u140 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:250px;
  height:40px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:250px;
  height:40px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u143 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:250px;
  width:250px;
  height:40px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:250px;
  width:250px;
  height:40px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u146 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:196px;
  width:120px;
  height:40px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:196px;
  width:120px;
  height:40px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u149 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:140px;
  width:250px;
  height:40px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:140px;
  width:250px;
  height:40px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:150px;
  width:20px;
  height:20px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:316px;
  width:20px;
  height:20px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:317px;
  width:131px;
  height:18px;
  color:#FF0000;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:206px;
  width:20px;
  height:20px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:260px;
  width:20px;
  height:20px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
