body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:675px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:675px;
}
#u214 {
  position:absolute;
  left:2px;
  top:330px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(107, 107, 107, 0.349019607843137);
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
}
#u217 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219 {
  position:absolute;
  left:190px;
  top:16px;
  width:102px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u221 {
  position:absolute;
  left:150px;
  top:11px;
  width:30px;
  height:29px;
}
#u222 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000333;
}
#u224 {
  position:absolute;
  left:549px;
  top:70px;
  width:80px;
  height:30px;
  color:#000333;
}
#u224_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  color:#000333;
}
#u224.mouseOver {
}
#u225 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  position:absolute;
  left:449px;
  top:70px;
  width:80px;
  height:74px;
}
#u228 {
  position:absolute;
  left:2px;
  top:29px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000333;
}
#u229 {
  position:absolute;
  left:449px;
  top:70px;
  width:80px;
  height:30px;
  color:#000333;
}
#u230 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u232 {
  position:absolute;
  left:350px;
  top:110px;
  width:580px;
  height:320px;
}
#u233 {
  position:absolute;
  left:2px;
  top:152px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:579px;
  top:195px;
  width:120px;
  height:40px;
}
#u234_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u234.mouseOver {
}
#u235 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:449px;
  top:360px;
  width:250px;
  height:40px;
}
#u236_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(55, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u236.mouseOver {
}
#u237 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u239 {
  position:absolute;
  left:449px;
  top:306px;
  width:250px;
  height:40px;
}
#u240 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:449px;
  top:306px;
  width:250px;
  height:40px;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u243 {
  position:absolute;
  left:449px;
  top:250px;
  width:250px;
  height:40px;
}
#u244 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:449px;
  top:250px;
  width:250px;
  height:40px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u247 {
  position:absolute;
  left:449px;
  top:196px;
  width:120px;
  height:40px;
}
#u248 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:449px;
  top:196px;
  width:120px;
  height:40px;
}
#u249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(148, 148, 148, 0.349019607843137);
}
#u251 {
  position:absolute;
  left:449px;
  top:140px;
  width:250px;
  height:40px;
}
#u252 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:449px;
  top:140px;
  width:250px;
  height:40px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background-color:#E4E8EC;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u254 {
  position:absolute;
  left:723px;
  top:150px;
  width:20px;
  height:20px;
}
#u255 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u256 {
  position:absolute;
  left:723px;
  top:316px;
  width:20px;
  height:20px;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u258 {
  position:absolute;
  left:753px;
  top:317px;
  width:131px;
  height:18px;
  color:#FF0000;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u260 {
  position:absolute;
  left:723px;
  top:206px;
  width:20px;
  height:20px;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u262 {
  position:absolute;
  left:723px;
  top:260px;
  width:20px;
  height:20px;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
